$primaryColor: #01c5c4;
$secondaryColor: #b8de6f;
$errorColor: #ff6c26;
$textColor: #6a6868;
$borderColor: #979797;
$borderRadius: 16px 4px 16px 4px;
$boxShadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
$roomsCreatorBGColor: rgba(241, 225, 137, 0.1);
$componentWidth: 553px;
$fontSizeNormal: 12px;
$fontSizeLarge: 18px;
$buttonWidthNormal: 124px;
$buttonWidthSmall: 83px;
$buttonHeightNormal: 46px;
$paddingSizeNormal: 16px;
$marginSizeNormal: 10px;
$inputHeight: 45px;
$messageFormHeightSmall: 38px;
$messageFormHeightNormal: 80px;
$iconWidthNormal: 48px;
$iconWidthSmall: 24px;
$marginNormal: 48px;
$paddingSmall: 8px;
